.App {
  display: flex;
}
.content-container{
  height: 800px;
  width: 600px;
  overflow-y: scroll;
}
.search-form{
  display:flex;
  flex-direction: column;
}
.search-panel{
  display: flex;
  margin: 16px;
}